@import "tailwindcss";

@theme {
    --color-Dark-blue:#0f172a;
    --color-Light-blue:#3b82f6;
    --color-Blue-shade:#152032;
    --color-Purple:#a855f7;
    --color-Green:#22c55e;
    --color-white-shade:#f0f1f6;

}


.card{
    @apply flex flex-col gap-6 border py-8 px-4 rounded-2xl border-black/10 shadow-xl bg-Light-blue/10 
}


.input{
    @apply border border-white-shade/10 rounded-2xl outline-0 focus:border-white-shade px-3 py-6 text-2xl bg-white-shade/10
}

.textarea{
    @apply border border-white-shade/10 rounded-2xl outline-0 focus:border-white-shade px-3 py-6 text-2xl bg-white-shade/10
}
