@import "tailwindcss";

@theme {
    --color-Dark-blue:#0f172a;
    --color-Light-blue:#3b82f6;
    --color-Blue-shade:#152032;
    --color-Purple:#a855f7;
    --color-Green:#22c55e;
    --color-white-shade:#f0f1f6;

}